In [1]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import html5lib

In [2]:
tesla = yf.Ticker("TSLA")

In [3]:
tesla_share_price_data = tesla.history(period = "max")

In [4]:
tesla_share_price_data.reset_index(inplace=True)
tesla_share_price_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [5]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.html'
html_data = requests.get(url).text

In [7]:
beautiful_soup = BeautifulSoup(html_data,'html5lib')

In [11]:
tables=beautiful_soup.find_all("table")

for index, table in enumerate(tables): 
    if("TeslaRevenue" in str(table)):
        table_index=index

tesla_revenue=pd.DataFrame(columns=["Date", "Revenue"])

for row in tables [table_index].tbody.find_all('tr'):
    col=row.find_all("td")
    if(col!=[]):
        date=col[0].text
        revenue=col[1].text.strip().replace("$", "").replace(", ","")
        tesla_revenue=tesla_revenue.append({"Date": date, "Revenue": revenue}, ignore_index=True)    
tesla_revenue.head()

NameError: name 'table_index' is not defined